nav, footer { 
    background-color: steelblue;
    color: white;
    padding: 25px;

}
img {
    border: 4px solide steelblue;
}
h1 { margin: 50px 0;}
footer p {font-size: 20px;
margin: 20px auto;
}
body {
     margin: 0
    }


